/****************************************
* Common
****************************************/
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #EEEEEE;
	padding-bottom: 100px;
	overflow-x: hidden;
}
.home {
	padding: 20px;
}
.homeText {
	max-width: 800px;
}
.header {
	background-color: #015fca;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading {
	flex: 1;
	text-align: center;
	font-size: 24px;
}
.loadingIndicator {
	width: 160px;
	height: 160px;
	margin-top: 60px;
}
.loadingIndicatorMedium {
	width: 80px;
	height: 80px;
}
/****************************************
* Search screen
****************************************/
.searchPane {
	padding: 20px;
}
.searchResult {
	float: left;
	padding: 20px;
	width: 200px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 33px -9px rgba(0,0,0,0.36);
	margin-right: 20px;
	margin-bottom: 20px;

	border-radius: 10px;
	text-decoration: none;
}
.searchResult img {
	width: 200px;
	height: 200px;
	display: block;

	border-radius: 10px;
}
.searchResult .title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 5px;
	font-weight: bold;
	color: #333333;
}
.searchResult .author {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #666666;
}
/****************************************
* Podcast screen
****************************************/
.podcast {
	display: flex;
	flex-direction: row;
}
.podcast h1 {
	margin: 0px;
	color: #FFFFFF;
}
.podcast h2 {
	color: #EEEEEE;
	margin-top: 0px;
	font-weight: normal;
}
.podcast .podcastInfo {
	background-color: #0176e5;
	display: flex;

	padding: 20px;
	color: #FFFFFF;
}
.podcastCoreInfo {
	max-width: 700px;
}
.podcastInfo .cover {
	width: 400px;
	height: 400px;
	margin-right: 20px;
	border-radius: 10px;
}
.podcastContent {
	display: flex;
}
.podcastInner {
	flex: 1;
}
.shareButtons {
	display: flex;
}
.shareButtons .clipBoardButton {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	color: #FFFFFF;
	display: inline-block;
	height: 30px;
	background-color: #00192f;
	text-shadow: 1px 1px #000000;
	cursor: pointer;
}
/**********************
* Episodes
**********************/
.episodeContainer {
	flex: 1;
}
.episodesHeader, .sideBarHeader {
	background-color: #DDDDDD;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 20px;
}
.episode {
	padding: 20px;
	display: flex;
}
.episode .playIcon {
	background-color: #0176e5;
	border-radius: 50%;
	width: 44px;
	height: 50px;
	padding-left: 6px;
	font-size: 30px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}
.episode .episodeInfo {
	flex: 1;
}
.episode .title {
	font-weight: bold;
}
.episode .title span {
	color: #333333;
	font-weight: normal;
}
.episode .description {
	color: #666666;
}
/**********************
* Knowledge Graph
**********************/
.knowledgeGraph {
	width: 300px;
	background-color: #EEEEEE;
	box-shadow: 10px 10px 33px -9px rgba(0,0,0,0.36);
	border-radius: 10px;
}
.knowledgeGraphContent {

}
.knowledgeGraphContent .knowledgeItem .title {
	font-weight: bold;
	padding: 20px;
	padding-bottom: 0px;
}
.knowledgeGraphContent .knowledgeItem .body {
	padding: 20px;
	padding-top: 10px;
}
.knowledgeGraphContent .knowledgeItem .image img {
	width: 100%;
	height: auto;
}
/****************************************
* Player
****************************************/
.player {
	transform: translate3d(0,0,0);
	position: fixed;
	bottom: 0;

	display: flex;
	align-items: center;

	background-color: #0c2850;
	width: 100%;
	height: 80px;
	overflow: hidden;

	padding: 10px;

	animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.player img {
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 10px;
	margin-right: 20px;
}
.player .podcastInfo {
	width: 300px;
}
.player .playerControls {
	flex: 1;
	display: flex;
}
.player audio {
	flex: 1;
	margin-right: 20px;
}
.player .podcastInfo {
	color: #FFFFFF;
}
/****************************************
* Podcast lists
****************************************/
.podcastList {
	
}
.podcastList .podcast {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	float: left;
	width: 200px;
	height: 250px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 33px -9px rgba(0,0,0,0.36);
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	text-decoration: none;
}
.podcastList img {
	width: 200px;
	height: 200px;
}
.podcastList .podcastListInfo {
	padding: 10px;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/****************************************
* Responsiveness
****************************************/
@media only screen and (max-width: 600px) {
	.searchResult {
	  width: 90%;
	}
	.searchResult img {
		width: 150px;
		height: 150px;
		float: left;
		margin-right: 20px;
	}
	.searchResult .title {
		
	}
	.searchResult .author {
		
	}
	.podcast {
		display: block;
	}
	.podcast .podcastInfo {
		display: block;
		padding: 0px;
	}
	.podcast .podcastInfo .cover {
		width: 100%;
		height: auto;
		border-radius: 0px;
	}
	.podcastCoreInfo {
		padding: 20px;
	}
	.player .title {
		font-size: 12px;
	}
	.player img {
		width: 10vw;
		height: auto;
	}
	.knowledgeGraph {
		width: auto;
	}
}